{% extends "agentbase.html" %}
{% block css %}
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <style type="text/css">
        .container {
            padding: 20px;
        }

        .row {
            margin-top: 1.5rem;
        }

        #count {
            height: 1rem !important;
            border-bottom: none !important;
            margin-left: 10px !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;

        }

        .ui-spinner {
            width: 50% !important;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="weui-wepay-details">
        {% for o in continueOrders %}
            <div class="weui-wepay-details__hd">
                <div class="weui-wepay-details__state">
                    <h2 class="weui-wepay-details__title">
                        续租订单</h2>
                    <p class="weui-wepay-details__desc">￥{{ o.totalfee/100 }}</p>
                </div>
            </div>
            <div class="weui-wepay-details__bd">
                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">单号：</div>
                    <div class="weui-wepay-detail__ft">{{ o.tradeno |cutstring }}</div>
                </div>

                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">服务点：</div>
                    <div class="weui-wepay-detail__ft">{{ o.Serverstop.name }}</div>
                </div>
                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">时间：</div>
                    <div class="weui-wepay-detail__ft">{{ o.created_at }}</div>
                </div>
                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">支付状态：</div>
                    <div class="weui-wepay-detail__ft">{{ orderConfig[o.status][0] }}</div>
                </div>
                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">天数：</div>
                    <div class="weui-wepay-detail__ft">{{ o.count }}</div>
                </div>
                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">折扣：</div>
                    <div class="weui-wepay-detail__ft">-￥{{ o.cutfee/100 }}</div>
                </div>

                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">总价：</div>
                    <div class="weui-wepay-detail__ft weui-wepay-color-green">￥{{ o.totalfee/100 }}</div>
                </div>
            </div>

        {% endfor %}
        <div class="weui-wepay-details__hd">
            <div class="weui-wepay-details__state">
                <h2 class="weui-wepay-details__title">
                    {% if data.status=="ok" %}
                        <i class="weui-wepay-details__icon weui-icon-success"></i>

                    {% endif %} {{ orderConfig[data.status][0] }}</h2>
                <p class="weui-wepay-details__desc">￥{{ data.totalfee/100 }}</p>
            </div>
        </div>
        <div class="weui-wepay-details__bd">
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">单号：</div>
                <div class="weui-wepay-detail__ft">{{ data.tradeno |cutstring }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">代理：</div>
                <div class="weui-wepay-detail__ft">{{ data.Serverstop.User.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">客户：</div>
                <div class="weui-wepay-detail__ft">{{ data.Customer.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">客户电话：</div>
                <div class="weui-wepay-detail__ft">{{ data.Customer.phone }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">服务点：</div>
                <div class="weui-wepay-detail__ft">{{ data.Serverstop.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">时间：</div>
                <div class="weui-wepay-detail__ft">{{ data.created_at }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">订单状态：</div>
                <div class="weui-wepay-detail__ft">{{ orderConfig[data.status][0] }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">车型：</div>
                <div class="weui-wepay-detail__ft">{{ data.Cartype.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">车牌：</div>
                <div class="weui-wepay-detail__ft">{{ data.Car.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">天数：</div>
                <div class="weui-wepay-detail__ft">{{ data.count }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">折扣：</div>
                <div class="weui-wepay-detail__ft">-￥{{ data.cutfee/100 }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">保险：</div>
                {% if data.Insure %}
                    <div class="weui-wepay-detail__ft">{{ data.Insure.name }}:￥{{ data.insurefee/100 }}</div>
                {% else %}
                    <div class="weui-wepay-detail__ft">无</div>
                {% endif %}
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">总价：</div>
                <div class="weui-wepay-detail__ft weui-wepay-color-green">￥{{ data.totalfee/100 }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">车牌号：</div>
                <div class="weui-wepay-detail__ft">{{ data.Car.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">发车时间：</div>
                <div class="weui-wepay-detail__ft">{{ data.fromdate }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">收车时间：</div>
                <div class="weui-wepay-detail__ft">{{ data.todate }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">发车油量：</div>
                <div class="weui-wepay-detail__ft">{{ data.oilbefore }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">收车油量：</div>
                <div class="weui-wepay-detail__ft">{{ data.oilafter }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">发车公里：</div>
                <div class="weui-wepay-detail__ft">{{ data.kmbefore }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">收车公里：</div>
                <div class="weui-wepay-detail__ft">{{ data.kmafter }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">合同编号：</div>
                <div class="weui-wepay-detail__ft">{{ data.contractid }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">是否出省：</div>
                <div class="weui-wepay-detail__ft">{% if data.outprovince==1 %}是{% else %}否{% endif %}</div>
            </div>
            <div class="weui-cells weui-cells_form" id="uploader">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">存证图片</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles">
                                    {% for img in imgs %}
                                        {% if img %}
                                            <li data-id="c{{ loop.index }}" class="weui-uploader__file"
                                                style="background-image:url({{ img }}!fanglow)"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="weui-wepay-details__hd cohead">
            <div class="weui-wepay-details__state">
                <h2 class="weui-wepay-details__title">

                    <i class="weui-wepay-details__icon weui-icon-success"></i>
                    总计

                </h2>
            </div>
        </div>
        <div class="weui-wepay-details__bd">
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">下单日期</div>
                <div class="weui-wepay-detail__ft">{{ data.created_at }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">发车日期</div>
                <div class="weui-wepay-detail__ft">{{ data.fromdate }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">还车日期</div>
                <div class="weui-wepay-detail__ft">{{ data.todate }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">截止日期</div>
                <div class="weui-wepay-detail__ft">{{ OrderSumData.endDate }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">超时/分钟</div>
                <div class="weui-wepay-detail__ft">{{ OrderSumData.isOver }}{{ OrderSumData.overDate }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">总价</div>
                <div class="weui-wepay-detail__ft">{{ OrderSumData.priceSum/100 }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">订单总天数</div>
                <div class="weui-wepay-detail__ft">{{ OrderSumData.countSum }}</div>
            </div>
        </div>

        {#        {% if data.status=="ok" %}#}
        {#            <div class="weui-wepay-details__ft">#}
        {#                <a href="javascript:;" class="weui-btn weui-btn_primary" id="refund">申请退款</a>#}
        {#            </div>#}
        {##}
        {#        {% endif %}#}
    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        function imgClickBind() {
            $(".weui-uploader__file").click(function () {
                var bg = $(this).css('background-image');
                bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "").split("!fanglow")[0];
                var val = $(this).attr("data-id");
                var that = this;
                var gallery = weui.gallery(bg, {
                    className: 'custom-classname',
                    onDelete: function () {

                    }
                });
            });
        }
        function refund() {
            $.ajax({
                url: window.location.protocol + "//" + window.location.host + '/wx/api/refundapply/{{ data.id }}',
                type: 'get',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data['status'] === 'ok') {
                        alert("正在申请退款，如有疑问请联系客服")
                    }
                    else {
                        alert("申请失败，请重试或联系客服")
                    }
                    location.reload()

                }

            })
        }
        $(document).ready(function () {
            navSelect($('#nav-order'));
            imgClickBind();
            $('#refund').click(function () {
                alert("暂不能申请退款，请联系客服 4006662456");
                {#                refund();#}
            });
        });

    </script>

{% endblock %}