aliyun-python-sdk-core==2.8.2
aliyun-python-sdk-dysmsapi==1.0.0
Babel==2.6.0
certifi==2017.7.27.1
chardet==3.0.4
Cheetah==2.4.4
click==6.7
cloud-init==0.7.6
configobj==5.0.6
enum34==1.1.6
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Admin==1.5.1
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-qiniu==2.0.5
Flask-QiniuStorage==0.9.5
Flask-SQLAlchemy==2.3.2
gunicorn==19.8.1
idna==2.6
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
Markdown==2.6.8
MarkupSafe==1.0
meld3==1.0.2
mysql==0.0.1
mysql-connector-python-rf==2.2.2
MySQL-python==1.2.5
oauth==1.0.1
odfpy==1.3.6
openpyxl==2.4.9
optionaldict==0.1.1
Pillow==5.1.0
prettytable==0.7.2
pycryptodome==3.6.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.12
qiniu==7.2.2
redis==2.10.6
requests==2.18.4
six==1.10.0
speaklater==1.3
SQLAlchemy==1.2.8
supervisor==3.2.0
tablib==0.12.1
unicodecsv==0.14.1
urllib3==1.22
wechatpy==1.7.0
Werkzeug==0.14.1
WTForms==2.2
xlrd==1.1.0
xlwt==1.3.0
xmltodict==0.11.0
