{% extends "base.html" %}
{% block css %}

<style type="text/css">

</style>
{% endblock %}
{% block content %}
    <h4>租赁列表</h4>
<ul class="collection">


    {% for d in data %}
    <li class="collection-item">
        <div class="row">
            <div class="col s12"><span class="title">车牌号：<a href="/car/{{d.Car.id}}">{{d.Car.name}}</a></span>
                <p>客户：<a href="/customer/d.Customer.id">{{d.Customer.name}}</a><br>
                    租赁开始时间：{{d.started_at}}<br>
                    租赁结束时间：{{d.ended_at}}<br>
                    租赁价格:{{d.price}}<br>
                    类型:{{d.type}}</p>
            </div>
        </div>
        <!--<td>-->
        <!--{% for h in d.histories %}-->
        <!--<a href="/historyDetail/{{h.id }}">{{h.created_at}}：{{h.Customer.name}}, {{h.type}} </a><br>-->
        <!--{% endfor %}-->
        <!--</td>-->
        <!--<td>-->
        <!--{% for m in d.mendhistories %}-->
        <!--<a href="/mendHistoryDetail/{{m.id }}">{{m.created_at}}：{{m.User.name}}, {{m.type}} </a><br>-->
        <!--{% endfor %}-->
        <!--</td>-->
    </li>
    {% endfor %}
</ul>


{% endblock %}
{% block script %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=67CKhYZ0N7g1M0BLOHnOqsu6idBxN2vT"></script>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();


        function timestampToTime(timestamp) {
            var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            Y = date.getFullYear() + '-';
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = date.getMinutes() + ':';
            s = date.getSeconds();
            return Y + M + D + h + m + s;
        }

        var data = [];
        $.ajax({
            url: 'api/carmonitor',
            type: 'get',
//        data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result['status'] == "ok") {

                }
                else {
                    alert('服务器出错，请稍后')
                }
            }

        })
    });
</script>
{% endblock %}