{% extends "base.html" %}
{% block css %}
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/numberstepper.css') }}" rel="stylesheet">
    <style type="text/css">
        .weui-cell__bd {
            font-size: 14px;
        }

        .weui-cell__hd {
            font-size: 14px;
        }

        .numstepper {
            margin-bottom: 0 !important;
        }

        {#        #count {#}
        {#            height: 1rem !important;#}
        {#            border-bottom: none !important;#}
        {#            margin-left: 10px !important;#}
        {#            margin-top: 0 !important;#}
        {#            margin-bottom: 0 !important;#}
        {##}
        {#        }#}


    </style>
{% endblock %}
{% block content %}
    <div class="weui-wepay-details">
        <div class="weui-wepay-details__hd">
            <div class="weui-wepay-details__state">
                <h2 class="weui-wepay-details__title">在线下单</h2>
                <p class="weui-wepay-details__desc" id="totalfee-top">￥0.0</p>
            </div>
        </div>
        <div class="weui-wepay-details__bd">
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">车型：</div>
                <div class="weui-wepay-detail__ft">{{ carData.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">每日租金/￥：</div>
                <div class="weui-wepay-detail__ft" id="price">{{ carData.price/100 }}</div>
            </div>

            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">原价￥</div>
                <div class="weui-wepay-detail__ft" id="oldfee"></div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">可用折扣：</div>
                <div class="weui-wepay-detail__ft" id="prefername"></div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">折扣金额/￥</div>
                <div class="weui-wepay-detail__ft" id="cutfee"></div>
            </div>

            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">总价/￥</div>
                <div class="weui-wepay-detail__ft" id="sum">0</div>
            </div>
            <div class="weui-cells__title">选择租赁天数</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">天数：</label>
                    </div>
                    <div class="weui-cell__bd">

                        <div class="js-numstepper">
                            <input type="number" min="1" max="20" id="count">
                        </div>
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">选择保险</div>
            <div class="weui-cells weui-cells_radio">
                <label class="weui-cell weui-check__label" for="x0">
                    <div class="weui-cell__bd">
                        <a href="">不选择保险</a>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check" name="radio1" id="x0" checked="checked" value="-1"
                               onchange="setInsure(this)" price="0">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                {% for ins in carData.insures %}
                    <label class="weui-cell weui-check__label" for="x{{ loop.index }}">

                        <div class="weui-cell__bd">
                            <a href="javascript:weui.alert('{{ ins.detail }}');">{{ ins.name }}
                                ￥{{ ins.price/100 }}/天</a>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" name="radio1" class="weui-check" id="x{{ loop.index }}"
                                   value="{{ ins.id }}" onchange="setInsure(this)" price="{{ ins.price }}">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                {% endfor %}
            </div>

        </div>
        <div class="weui-cells__title">选择您要预约的时间</div>
        <div class="weui-cells">
            <div class="weui-cell">

                <div class="weui-cell__hd"><label for="" class="weui-label">预约时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="datetime-local" value="" placeholder="" id="book_at">
                </div>
            </div>
        </div>
        <div class="weui-cells__title">选择最近的服务站</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">服务站选择</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="选择最近的服务站" id="locpicker"
                           readonly>
                </div>
            </div>
        </div>
        {% if integralIsOpen %}
            <label for="integralAgree" class="weui-agree" style="display: none;" id="integralAgreeLabel">
                <input id="integralAgree" type="checkbox" class="weui-agree__checkbox">
                <span class="weui-agree__text" id="integralAgreeText">
            使用积分抵扣
    </span>
            </label>
        {% endif %}
        </label>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text">
        阅读并同意<a href="{{ url_for("web.wxContract") }}">《相关条款》</a>
    </span>
        </label>
        <div class="weui-wepay-details__ft">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id="pay">支付</a>
        </div>

    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=3.0&ak=67CKhYZ0N7g1M0BLOHnOqsu6idBxN2vT"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/numberstepper.js') }}"></script>

    <script>
        var integral=0;
        var sumFee = 0;
        var hasIntegral = false;
        function cancel(id) {
            $.ajax({
                url: window.location.protocol + "//" + window.location.host + '/wx/api/cancelorder/' + id,
                type: 'get',
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data['status'] === 'ok') {
                        alert("已取消")
                    }
                    else {
                        alert("取消失败，请重试")
                    }
                    location.reload()

                }

            })
        }
        $("#book_at").change(function () {
            getPrefer();
            getIntegral();
            {#            setSum();#}
            $("#sum").css("color", 'red');
        });
        $('.js-numstepper').numStepper();

        $('body').on('change.numstep', '.js-numstepper', function (event, mode, value, valueOld) {
            getPrefer();
            getIntegral();
            {#            setSum();#}
            $("#sum").css("color", 'red');
        });
        function setInsure(obj) {
            getPrefer();
            getIntegral();
        }

        function setSum(v,hasntegral) {

            {#            var v = (100*($("#count").val() * ($("#price").text() * 1.0 + $('input[name="radio1"]:checked').attr("price") / 100.0)) - Math.abs($("#cutfee").text() * 100))/100;#}
            var value = v  + ($("#count").val() * $('input[name="radio1"]:checked').attr("price") ) / 100.0;
            sumFee = value;
            if(hasntegral){
                var newValue = (value*100-integral*100)/100;
            }
            else {
                var newValue = value;
            }

            $("#totalfee-top").html('￥' + newValue);
            $("#sum").html(newValue)
        }

        function getIntegral() {
            var formDataIntegral = new FormData();
            formDataIntegral.append("fee",sumFee);
            $.ajax({
                url: window.location.protocol + "//" + window.location.host + '/wx/api/integral',
                type: 'POST',
                data: formDataIntegral,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data["status"]=="ok") {
                        integral = data["result"]["cut"];
                        $("#integralAgreeText").text("使用 "+data["result"]["used"]+" 积分抵扣 "+integral+"元");
                        $("#integralAgreeLabel").show()
                    }
{#                    setSum(sumFee,hasIntegral);#}

                }

            })
        }
        function getPrefer() {
            var formDataPrefer = new FormData();
            formDataPrefer.append('id', {{ carData.id }});
            formDataPrefer.append('count', $("#count").val());
            formDataPrefer.append('book_at', $('#book_at').val());
            $.ajax({
                url: window.location.protocol + "//" + window.location.host + '/wx/api/preferential',
                type: 'POST',
                data: formDataPrefer,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data["isprefer"]) {
                        $("#prefername").text(data["name"]).css("color", 'red');
                        $("#cutfee").text("-" + data["cutfee"] / 100).css("color", 'red');
                        $("#oldfee").text(data["oldfee"] / 100);
                    }
                    else {
                        $("#prefername").text("无").css("color", 'black');
                        $("#cutfee").text(data["cutfee"]).css("color", 'black');
                        $("#oldfee").text(data["oldfee"] / 100);
                    }
                    setSum(data["newfee"] / 100);

                }

            })
        }

        function getOrder() {
            if (!$("#weuiAgree").prop("checked")) {
                alert("请阅读条款");
                return
            }
            var formData = new FormData();
            formData.append('id', {{ carData.id }});
            formData.append('count', $("#count").val());
            formData.append('location', loc);
            formData.append('serverstop', serverstop);
            formData.append('insureid', $('input[name="radio1"]:checked').val() * 1);
            formData.append('hasIntegral', hasIntegral);
            formData.append('book_at', $('#book_at').val());
            $.ajax({
                url: window.location.protocol + "//" + window.location.host + '/wx/api/makeorder',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data['status'] === 'ok') {
                        result = data['result'];
                        wx.chooseWXPay({
                            timestamp: result['timeStamp'], // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                            nonceStr: result['nonceStr'], // 支付签名随机串，不长于 32 位
                            package: result['package'], // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
                            signType: result['signType'], // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                            paySign: result['paySign'], // 支付签名
                            success: function (res) {
                                if (res.errMsg == "chooseWXPay:ok") {
                                    alert('支付成功！');// 支付成功后的回调函数

                                } else {

                                    alert(res.errMsg);
                                    cancel(data["orderId"])
                                }
                                setTimeout(1000);
                                window.location.href = window.location.protocol + "//" + window.location.host + '/wx/order/' + data["orderId"]


                            },
                            cancel: function (res) {
                                //支付取消
                                alert("支付取消");
                                cancel(data["orderId"])
                            }
                        });
                        {#                        setTimeout(1000);#}
                        {#                        window.location.href = window.location.protocol + "//" + window.location.host + '/wx/order/' + data["orderId"]#}

                    }
                    else {
                        alert(data['msg']);
                        setTimeout(3000);
                        {#                        window.location.href = window.location.protocol + "//" + window.location.host + '/wx/selectcar'#}
                    }
                }

            })
        }
        var serverstop;
        var loc = "";
        var convertor = new BMap.Convertor();
        var myGeo = new BMap.Geocoder();
        $(document).ready(function () {
            navSelect($('#nav-order'));
            var dayArray = [];
            for (var k = 1; k < 16; k++) {
                dayArray.push({label: '' + k, value: k})
            }


            $('#count').on('click', function () {
                weui.picker(dayArray, {
                    onChange: function (result) {

                    },
                    onConfirm: function (result) {
                        $('#count').val(result[0]['value']);
                        getPrefer();
                        getIntegral();
                        {#                        setSum();#}
                        $('#sum').css("color", 'red');
                    }
                });
            });
            $('#locpicker').on('click', function () {
                weui.picker([
                    {% for s in serverstop %}
                        {
                            label: '{{ s.name }}',
                            value: {{ s.id }}
                        },
                    {% endfor %}
                ], {
                    onChange: function (result) {

                    },
                    onConfirm: function (result) {
                        $('#locpicker').val(result[0]['label']);
                        serverstop = result[0]['value']
                    }
                });
            });


            {#            var count = $("#count").spinner(#}
            {#                {#}
            {#                    change: function (event, ui) {#}
            {#                        getPrefer();#}
            {#                        setSum();#}
            {#                        $("#count").css("color", 'red');#}
            {#                    }#}
            {#                }#}
            {#            );#}

            $("#count").val(1);
            getPrefer();
            getIntegral();
            $("#integralAgreeLabel").click(function () {
                 if ($("#integralAgree").prop("checked")) {
                    hasIntegral = true;

                 }
                 else {
                     hasIntegral = false;
                 }
                 
                 setSum(sumFee,hasIntegral);
            });
            {#            setSum();#}
            {#            $('#locpicker').val('{{ serverstop[0].name }}');#}
            {#            serverstop = {{ serverstop[0].id }};#}
        });
        translateCallback = function (data) {
            if (data.status === 0) {
                myGeo.getLocation(data.points[0], function (result) {
                    if (result) {
                        loc = result.address;
                    }

                });

            }
        };

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{{ wxJSSDKConfig['appId'] }}', // 必填，公众号的唯一标识
            timestamp: '{{ wxJSSDKConfig['timestamp'] }}', // 必填，生成签名的时间戳
            nonceStr: '{{ wxJSSDKConfig['nonceStr'] }}', // 必填，生成签名的随机串
            signature: '{{ wxJSSDKConfig['signature'] }}',// 必填，签名
            jsApiList: ["getLocation", "chooseWXPay"] // 必填，需要使用的JS接口列表
        });
        wx.ready(function () {
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            //alert("ok!")
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度

                    var pointArr = [];
                    var ggpoint = new BMap.Point(longitude, latitude);
                    pointArr.push(ggpoint);
                    convertor.translate(pointArr, 3, 5, translateCallback);

                },
                complete: function () {
                    $("#pay").click(function () {
                        getOrder();
                    })
                }
            });
        });
        wx.error(function (res) {
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        });
    </script>

{% endblock %}