{% extends "base.html" %}
{% block css %}
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <style type="text/css">
        .container {
            padding: 20px;
        }

        .row {
            margin-top: 1.5rem;
        }

        #count {
            height: 1rem !important;
            border-bottom: none !important;
            margin-left: 10px !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;

        }

        .ui-spinner {
            width: 50% !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="weui-wepay-details">
        <div class="weui-wepay-details__hd">
            <div class="weui-wepay-details__state">
                <h2 class="weui-wepay-details__title">
                    {% if data.status=="ok" %}
                        <i class="weui-wepay-details__icon weui-icon-success"></i>

                    {% endif %} {{ orderConfig[data.status][0] }}</h2>
                <p class="weui-wepay-details__desc">￥{{ data.totalfee/100 }}</p>
            </div>
        </div>
        <div class="weui-wepay-details__bd">
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">单号：</div>
                <div class="weui-wepay-detail__ft">{{ data.tradeno |cutstring }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">时间：</div>
                <div class="weui-wepay-detail__ft">{{ data.created_at }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">订单状态：</div>
                <div class="weui-wepay-detail__ft">{{ orderConfig[data.status][0] }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">车型：</div>
                <div class="weui-wepay-detail__ft">{{ data.Cartype.name }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">天数：</div>
                <div class="weui-wepay-detail__ft">{{ data.count }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">折扣：</div>
                <div class="weui-wepay-detail__ft">-￥{{ data.cutfee/100 }}</div>
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">保险：</div>
                {% if data.Insure %}
                    <div class="weui-wepay-detail__ft">{{ data.Insure.name }}:￥{{ data.insurefee/100 }}</div>
                {% else %}
                    <div class="weui-wepay-detail__ft">无</div>
                {% endif %}
            </div>
            <div class="weui-wepay-detail">
                <div class="weui-wepay-detail__bd">总价：</div>
                <div class="weui-wepay-detail__ft weui-wepay-color-green">￥{{ data.totalfee/100 }}</div>
            </div>

        </div>
        {% if data.status=="ok" %}
            <div class="weui-wepay-details__ft">
                <a href="javascript:;" class="weui-btn weui-btn_primary" id="refund">申请退款</a>
            </div>

        {% endif %}
    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        function refund() {
            $.ajax({
                url: window.location.protocol + "//" + window.location.host + '/wx/api/refundapply/{{ data.id }}',
                type: 'get',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data['status'] === 'ok') {
                        alert("正在申请退款，如有疑问请联系客服")
                    }
                    else {
                        alert("申请失败，请重试或联系客服")
                    }
                    location.reload()

                }

            })
        }
        $(document).ready(function () {
            navSelect($('#nav-order'));

            $('#refund').click(function () {
                alert("暂不能申请退款，请联系客服 4006662456");
                {#                refund();#}
            });
        });

    </script>

{% endblock %}