{% extends "base.html" %}
{% block css %}

<style type="text/css">

</style>
{% endblock %}
{% block content %}
<ul class="collapsible">
    <h4>客户列表</h4>

    {% for d in data %}
    <li>
        <div class="collapsible-header row">
            <div class="col s4"><img src="{{imgDomain}}{{d.img}}" class=" responsive-img"></div>
            <div class="col s8"><span class="title">车牌号：{{d.name}}</span>
                <p>客户名：<a href="/customer/{{d.id}}">{{d.name}}</a><br>
                    性别：{{d.gender}}<br>
                    驾照号：{{d.idcode}}<br>
                注册时间:{{d.created_at}}<br>
                备注:{{d.comment}}</p>
                <p style="color: #aaf8ff">点击该用户租赁历史详情</p>
            </div>
        </div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-header"><h4>租赁历史</h4></li>
                {% if d.histories.count() ==0%}
                <p>未找到记录</p>
                {% endif %}
                {% for h in d.histories %}
                <li class="collection-item">
                    <a href="/history/{{h.id }}">{{h.created_at}}：{{h.Customer.name}}, {{h.type}} </a><br>

                </li>
                {% endfor %}
            </ul>

        </div>
        <!--<td>-->
        <!--{% for h in d.histories %}-->
        <!--<a href="/historyDetail/{{h.id }}">{{h.created_at}}：{{h.Customer.name}}, {{h.type}} </a><br>-->
        <!--{% endfor %}-->
        <!--</td>-->
        <!--<td>-->
        <!--{% for m in d.mendhistories %}-->
        <!--<a href="/mendHistoryDetail/{{m.id }}">{{m.created_at}}：{{m.User.name}}, {{m.type}} </a><br>-->
        <!--{% endfor %}-->
        <!--</td>-->
    </li>
    {% endfor %}
</ul>




{% endblock %}
{% block script %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=67CKhYZ0N7g1M0BLOHnOqsu6idBxN2vT"></script>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();


        function timestampToTime(timestamp) {
            var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            Y = date.getFullYear() + '-';
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = date.getMinutes() + ':';
            s = date.getSeconds();
            return Y + M + D + h + m + s;
        }

        var data = [];
        $.ajax({
            url: 'api/carmonitor',
            type: 'get',
//        data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result['status'] == "ok") {

                }
                else {
                    alert('服务器出错，请稍后')
                }
            }

        })
    });
</script>
{% endblock %}