html {
    height: 100%;
}

body {
    height: 100%;
}
.weui-picker__item{
    padding-top: 0;
    padding-bottom: 0;
 }
.card .card-content .card-title {
    font-size: 14px!important;
}
.weui-tabbar{
    position: fixed!important;
}
#tabitem{
    position: fixed!important;
}
.weui-tab__content{
    padding-bottom: 50px;
}
.card .card-content {
    text-align: center!important;
    padding-top: 12px!important;
    padding-right: 0!important;
    padding-bottom: 3px!important;
    padding-left: 0!important;
}

.weui-tab__panel {
    background-color: #f8f8f8;
    height:400px;
}

.page__hd {
    padding: 30px;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
.page__title{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.row .col {
    padding-top: 0px;
    padding-right: 0.35rem;
    padding-bottom: 0px;
    padding-left: 0.35rem;
}

.ghzTitle {
    text-align: center;

}

body > div.weui-tab > div.weui-tab__panel > div.row {
    padding-top: 32px;
}

.weui-navbar__item {
    padding-top: 4px !important;

    padding-bottom: 3px !important;

}

.gzhCardContainer {
    padding: 2px;
}

#search {
    cursor: pointer;
}

nav .brand-logo {
    font-size: 1.1rem !important;

}

.weui-wepay-details {
    padding-bottom: 60px;
}

#modal-carImg {
    max-width: 150px;
}

#login {

}

.head {
    width: 50px;
    padding: 5px;
}

.greyWords {
    color: grey;
}