{% extends "base.html" %}
{% block css %}
    <style type="text/css">
        .container {
            padding: 20px;
        }

        .collection-item {
            height: 150px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <ul class="collection">
            {% for d in data %}
                <li class="collection-item avatar">
                    <img src="{{ imgDomain }}{{ d.Cartype.img }}!fang" alt="" class="circle">
                    <span class="title">{{ d.Cartype.name }}</span>
                    <p>订单金额：{{ d.totalfee/100 }} 元</p>
                    <p>生成时间：{{ d.created_at }}</p>
                    <p class="truncate">订单编号：{{ d.tradeno }}</p>
                    <p style="color: {{ orderConfig[d.status][2] }}">
                        订单状态：{{ orderConfig[d.status][0] }}
                    </p>

                    <a class="dropdown-button secondary-content" data-activates='dropdown{{ loop.index }}'><i
                            class="material-icons">list</i></a>
                    <ul id='dropdown{{ loop.index }}' class='dropdown-content'>
                        {% for o in orderConfig[d.status][1] %}
                        <li><a href="{{ url_for('web.orderDetail',id=d.id) }}" >{{ o }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
        );
    </script>
{% endblock %}