{% extends "base.html" %}
{% block css %}

    <style>


        .carTypePrice {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        {% for d in data %}

            <div class="col s12 m6 l4">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ imgDomain }}{{ d.img }}!fang">

                            <a href="{{ url_for('web.cart',id=d.id) }}" class="btn-floating halfway-fab waves-effect waves-light blue lighten-1 addtocart"><i
                                    class="material-icons"
                                    >shopping_cart</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ d.name }}</span>
                            <p>价格：{{ d.price }}/天</p>
                        </div>
                    </div>
                </div>

                <!--<div class="card horizontal">-->
                <!--<div class="card-image">-->
                <!--<img src="{{imgDomain}}{{ d.img }}!fang">-->
                <!--</div>-->
                <!--<div class="card-stacked">-->
                <!--<div class="card-content">-->
                <!--<p class="carTypeName">{{ d.name }}</p>-->
                <!--</div>-->
                <!--<div class="card-action row">-->
                <!--<div class=" carTypePrice col s8 ">价格：{{d.price}}/天</div>-->
                <!--<div class="col s4">-->
                <!--<a href="#" class="addtocart btn-floating  waves-effect waves-light blue lighten-2 "><i-->
                <!--class="material-icons">shopping_cart</i></a>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>


        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>


{#        $(".addtocart").click(function () {#}
{#            alert("即将开启，请持续关注，敬请期待！!")#}
{#        })#}


    </script>
{% endblock %}